root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
max_line_length = 100
indent_size = 4

[*.{json,js,cjs,mjs,ts,html,svelte,css,scss}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2
